@import "./Header.styl"
@import "./Content.styl"
@import "./Footer.styl"

body, html, #root, #app
  height 100%
  width 100%

#app
  display flex
  flex-direction column
  background-color #323232
  color : white

