color = #e7e7e7
bg-color = #2854ca

#header
  background-color bg-color
  color color
  border-bottom 2px solid #000000
  #header-banner
    #header-banner-text
      color : #27a986
  #clock
    #clock-text
      font-size 14pt
      font-weight bold
    .clock-colon
      font-weight bold
      font-size 12pt
    .clock-time
      font-size 12pt